<div class="change-username-wrapper">
    <div class="title-section">
        <h1>{{'Identity.Security_Settings.Personal_Info.Change_Username.Title' | translate }}</h1>
    </div>
    <form [formGroup]="form" class="change-username-form" autocomplete="off" (ngSubmit)="onSubmit()">
        <h2>{{'Identity.Security_Settings.Personal_Info.Change_Username.description' | translate }}</h2>
        <div class="form-group">
            <input id="username" autocomplete="one-time-code" autocapitalize="off" autocorrect="off" spellcheck="false"
                formControlName="username" type="text" />
            <label for="username">{{ 'Identity.Security_Settings.Personal_Info.Change_Username.New_Username' | translate
                }}</label>
        </div>

        @if (currentUsername !== enteredUsername) {
        <div class="validation-message">
            @if (!isLoadingAvalibilityResult() && isAvailable()) {
            <div class="avaliable-wrapper">
                <svg lucideCircleCheckBig></svg>
                <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Username.Avalable' | translate }}</span>
            </div>
            }
            @else if (!isLoadingAvalibilityResult() && !isAvailable()) {
            <div class="not-avaliable-wrapper">
                <svg lucideCircleX></svg>
                <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Username.Not_Avaliable' | translate }}</span>
            </div>
            }@else if (isLoadingAvalibilityResult()){
            <div class="loader-wrapper">
                <div class="loader-container">
                    <div class="spinner"></div>
                </div>
                <span>{{ 'Shared.Loaders.Checking_Username_Availablity' | translate }}</span>
            </div>
            }
        </div>
        } @else {
        <div class="validation-message">
            <svg lucideCircleCheckBig></svg>
            <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Username.Current_Username' | translate }}</span>
        </div>
        }

        <div class="buttons-group">
            <button type="button" class="cancel-button" [routerLink]="['/account-settings/personal-information']">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Username.Back' | translate }}
            </button>
            <button type="submit" [disabled]="!isAvailable()" class="submit-btn" id="loginBtn">
                <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Username.Apply' | translate }}</span>
                <svg lucideCheckLine></svg>
            </button>
        </div>

    </form>
</div>