<div class="change-password-wrapper">
    <div class="header-content">
        <h1>{{'Identity.Security_Settings.Change_Password.Title' | translate }}</h1>
        <p class="subtitle">{{'Identity.Security_Settings.Change_Password.Description' | translate }}</p>
    </div>

    <hr class="divider" />

    <form [formGroup]="form" class="change-password-form" (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="form-group">
            <app-input [type]="showPassword ? 'text' : 'password'" id="currentPassword"
                formControlName="currentPassword"
                [label]="'Identity.Security_Settings.Change_Password.Current_Password' | translate" [required]="true"
                [invalid]="!!(form.get('currentPassword')?.invalid && (form.get('currentPassword')?.touched || form.get('currentPassword')?.dirty))">
            </app-input>
            <div *ngIf="form.get('currentPassword')?.invalid && (form.get('currentPassword')?.touched || form.get('currentPassword')?.dirty)"
                class="error-message">
                <span *ngIf="form.get('currentPassword')?.hasError('required')">{{ 'Shared.Errors.Password_Required' |
                    translate }}</span>
            </div>
        </div>

        <div class="form-group">
            <app-input [type]="showPassword ? 'text' : 'password'" id="newPassword" formControlName="newPassword"
                [label]="'Identity.Security_Settings.Change_Password.New_Password' | translate" [required]="true"
                [invalid]="!!(form.get('newPassword')?.invalid && (form.get('newPassword')?.touched || form.get('newPassword')?.dirty))">
            </app-input>
            <div *ngIf="form.get('newPassword')?.invalid && (form.get('newPassword')?.touched || form.get('newPassword')?.dirty)"
                class="error-message">
                <span *ngIf="form.get('newPassword')?.hasError('required')">{{ 'Shared.Errors.Password_Required' |
                    translate }}</span>
                <span *ngIf="form.get('newPassword')?.hasError('minlength')">{{ 'Shared.Errors.Password_MinLength' | translate
                    }}</span>
            </div>
        </div>

        <div class="form-group">
            <app-input [type]="showPassword ? 'text' : 'password'" id="confirmNewPassword"
                formControlName="confirmNewPassword"
                [label]="'Identity.Security_Settings.Change_Password.Confirm_New_Password' | translate"
                [required]="true"
                [invalid]="!!((form.get('confirmNewPassword')?.invalid || form.hasError('passwordMismatch')) && (form.get('confirmNewPassword')?.touched || form.get('confirmNewPassword')?.dirty))">
            </app-input>
            <div *ngIf="(form.get('confirmNewPassword')?.invalid || form.hasError('passwordMismatch')) && (form.get('confirmNewPassword')?.touched || form.get('confirmNewPassword')?.dirty)"
                class="error-message">
                <span *ngIf="form.get('confirmNewPassword')?.hasError('required')">{{ 'Shared.Errors.Password_Required'
                    | translate }}</span>
                <span
                    *ngIf="!form.get('confirmNewPassword')?.hasError('required') && form.hasError('passwordMismatch')">{{
                    'Shared.Errors.Passwords_Do_Not_Match' | translate }}</span>
            </div>
        </div>

        <div class="form-options">
            <app-checkbox formControlName="showPassword">
                {{ 'Identity.Security_Settings.Change_Password.Show_Password' | translate }}
            </app-checkbox>
        </div>

        <hr class="divider" />

        <div class="buttons-group">
            <button type="button" class="btn btn-outlined" [routerLink]="['/account-settings/security-settings']">
                {{ 'Identity.Security_Settings.Change_Password.Back' | translate }}
            </button>
            <button type="submit" [disabled]="form.invalid || isSubmitting()" class="btn btn-primary">
                <span>{{ 'Identity.Security_Settings.Change_Password.Apply' | translate }}</span>
            </button>
        </div>
    </form>
</div>