<div class="followings-container">
    <div class="header">
        <h3>{{ "Content.Feed.Suggested_Followings" | translate | uppercase }}</h3>
    </div>

    <div class="profiles-list">
        @if (suggestedFollowings$ | async; as suggestedFollowings) {
        @for (user of suggestedFollowings; track user.id) {
        <a [routerLink]="['/profiles', user.id]" class="profile-item">
            <div class="profile-info-wrapper">
                <div class="profile-avatar-wrapper">
                    <img class="profile-image" [src]="user.profilePictureUrl" [alt]="user.fullName">
                </div>
                <div class="profile-info">
                    <span class="profile-name">{{ user.fullName }}</span>
                    <span class="profile-specialization">{{ user.specialization }}</span>
                </div>
            </div>
            <button class="follow-btn" (click)="$event.preventDefault(); $event.stopPropagation()">
                <svg lucideUserPlus></svg>
            </button>
        </a>
        }
        }
    </div>

    <div class="footer">
        <a routerLink="/people" class="explore-all">
            <span>{{ "Shared.Buttons.Explore_All" | translate }}</span>
            <svg lucideArrowRight></svg>
        </a>
    </div>
</div>