@if (isPersonalInfoRootRoute()) {
@if (personalInfoResource.value(); as personalInformation) {
<div class="title-section">
    <h1>{{ 'Identity.Security_Settings.Personal_Info.Title' | translate }}</h1>
</div>

<div class="info-wrapper">
    <div (click)="navigateToUsernameChange(personalInformation.userName)" class="info-card username clickable">
        <div class="info-body">
            <div class="icon-rapper">
                <svg lucideSquareUserRound></svg>
            </div>
            <div class="info">
                <p>{{ 'Identity.Security_Settings.Personal_Info.User_Name' | translate }}</p>
                <h2>{{ personalInformation.userName }}</h2>
            </div>
        </div>
        <div class="link-icon">
            <svg lucideSquareArrowOutUpRight></svg>
        </div>
    </div>
    <div class="info-card role">
        <div class="icon-rapper">
            <svg lucideUserRoundKey></svg>
        </div>
        <div class="info">
            <p>{{ 'Identity.Security_Settings.Personal_Info.Role' | translate }}</p>
            <h2>{{ `Shared.Role_Type.${personalInformation.roleName.toUpperCase()}` | translate}}</h2>
        </div>
    </div>
    <div (click)="navigateToEmailCgange()" class="info-card email clickable">
        <div class="info-body">
            <div class="icon-rapper">
                <svg lucideMail></svg>
            </div>
            <div class="info">
                <p>{{ 'Identity.Security_Settings.Personal_Info.Email' | translate }}</p>
                <h2>{{ personalInformation.email }}</h2>
            </div>
        </div>
        <div class="link-icon">
            <svg lucideSquareArrowOutUpRight></svg>
        </div>
    </div>

    <div (click)="navigateToLanguageChange()" class="info-card language clickable">
        <div class="info-body">
            <div class="icon-rapper">
                <svg lucideEarth></svg>
            </div>
            <div class="info">
                <p>{{ 'Identity.Security_Settings.Personal_Info.Preferred_Language' | translate }}</p>
                <h2>{{ `Shared.Supported_Languages.${personalInformation.preferredLanguage}` | translate}}</h2>
            </div>
        </div>
        <div class="link-icon">
            <svg lucideSquareArrowOutUpRight></svg>
        </div>
    </div>
    <div class="info-card last-password-change">
        <div class="icon-rapper">
            <svg lucideSquareAsterisk></svg>
        </div>
        <div class="info">
            <p>{{ 'Identity.Security_Settings.Personal_Info.Last_Password_Change' | translate }}</p>
            <h2>{{ personalInformation.lastPasswordChange | localDate }}</h2>
        </div>
    </div>
    <div class="info-card location">
        <div class="icon-rapper">
            <svg lucideMapPinned></svg>
        </div>
        <div class="info">
            <p>{{ 'Identity.Security_Settings.Personal_Info.Location' | translate }}</p>
            <h2>{{ personalInformation.location }}</h2>
        </div>
    </div>
    <div class="info-card last-location">
        <div class="icon-rapper">
            <svg lucideMapPinPen></svg>
        </div>
        <div class="info">
            <p>{{ 'Identity.Security_Settings.Personal_Info.Last_Location' | translate }}</p>
            <h2>{{ personalInformation.lastActiveLocation }}</h2>
        </div>
    </div>
    <div class="info-card download-request">
        <div class="icon-rapper">
            <svg lucideCloudSync></svg>
        </div>
        <div class="info">
            <p>{{ 'Identity.Security_Settings.Personal_Info.Has_Active_Download_Request' | translate }}</p>
            <h2>{{ `Shared.Logical_Values.${personalInformation.hasActiveDataDownloadRequest.toString()}_Found` |
                translate}}</h2>
        </div>
    </div>
</div>
}
}
@else {
<div class="personal-information-content-wrapper">
    <router-outlet></router-outlet>
</div>
}