<canvas #particleCanvas class="bg-canvas"></canvas>

<div class="auth-nav">
    <div class="brand-area">
        <div class="logo">
            <img src="../../../../assets/icons/github.svg" alt="">
        </div>
        <h2>{{'App.Site_Name' | translate }}</h2>
    </div>
    <div class="auth-links-wrapper">

        <div class="links-menu-button" [class.menu-button-active]="isOptionsMenuOpen()"
            (click)="isOptionsMenuOpen.set(!isOptionsMenuOpen())" cdkOverlayOrigin #menuOrigin="cdkOverlayOrigin">
            <svg lucideEllipsis aria-hidden="true"></svg>
        </div>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="menuOrigin"
            [cdkConnectedOverlayOpen]="isOptionsMenuOpen()" [cdkConnectedOverlayHasBackdrop]="true"
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            [cdkConnectedOverlayPositions]="overlayPositions" (backdropClick)="isOptionsMenuOpen.set(false)"
            >

            <div class="options" role="menu">

                <a class="option" role="menuitem" (click)="onLinkClick($event)">
                    <svg lucideLifeBuoy aria-hidden="true"></svg>
                    <p>Support</p>
                </a>

                <a class="option" role="menuitem" (click)="onLinkClick($event)">
                    <svg lucideFingerprint aria-hidden="true"></svg>
                    <p>Login Options</p>
                </a>

            </div>

        </ng-template>

    </div>
</div>


<div class="form-container">
    <router-outlet class="router-outlet"></router-outlet>
</div>