<canvas #particleCanvas class="bg-canvas"></canvas>

<div class="auth-nav">
    <div class="brand-area">
        <div class="logo">
            <img src="../../../../assets/icons/github.svg" alt="">
        </div>
        <h2>SyrianDevs</h2>
    </div>
    <div class="auth-links-wrapper">
        <div class="links-menu-button" [class.menu-button-active]="isOptionsMenuOpen()"
            [class.busy-on-loading]="isLoading()" (click)="toggleOptionsMenu()" role="button" tabindex="0"
            aria-label="Toggle options menu">
            <svg lucideEllipsis aria-hidden="true"></svg>
        </div>
        <div class="options" [class.is-options-menu-open]="isOptionsMenuOpen()" [class.busy-on-loading]="isLoading()"
            role="menu">
            <a (click)="navigateTo('support')" [class.busy-on-loading]="isLoading()" (click)="onLinkClick($event)"
                class="option" role="menuitem" tabindex="0">
                <svg lucideLifeBuoy aria-hidden="true"></svg>
                <p> Support </p>
            </a>
            <a (click)="navigateTo('login-options')" [class.busy-on-loading]="isLoading()" (click)="onLinkClick($event)"
                class="option" role="menuitem" tabindex="0">
                <svg lucideFingerprint aria-hidden="true"></svg>
                <p> Login Options </p>
            </a>
        </div>
    </div>
    @if (isLoading()) {
    <div class="loading-wrapper">
        <app-line-loader class="loader" [width]="'100%'"></app-line-loader>
    </div>
    }
</div>


<div class="form-container">
    <router-outlet class="router-outlet"></router-outlet>
</div>