#toast-container {
    position: fixed;
    top: calc(var(--navbar-desktop-height) + 10px);
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
    pointer-events: none;
    /* يمنع حجب النقرات عندما يكون فارغاً */
}

@media screen and (max-width: 480px) {
    #toast-container {
        right: 0;
        left: 50px;
        top: 10px;
        align-items: center;
        width: 100%;
    }
}