#toast-container {
    position: fixed;
    top: calc(var(--navbar-desktop-height) + 16px);
    right: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 9999;
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    #toast-container {
        right: 16px;
        left: 16px;
        top: calc(var(--navbar-mobile-height) + 16px);
        align-items: center;
        width: auto;
    }
}