<div class="modal-backdrop" (click)="onCancel()">
    <div class="modal-card" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h3>{{ 'Identity.Security_Settings.Security_Settings_Page.Passkeys_Page.Name_Dialog_Title' | translate }}
            </h3>
        </div>
        <div class="modal-body">
            <p>{{ 'Identity.Security_Settings.Security_Settings_Page.Passkeys_Page.Name_Dialog_Desc' | translate }}</p>
            <div class="input-group">
                <app-input [(ngModel)]="deviceName" type="text"
                    [placeholder]="'Identity.Security_Settings.Security_Settings_Page.Passkeys_Page.Name_Dialog_Placeholder' | translate"
                    (keyup.enter)="onConfirm()">
                </app-input>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Cancel' | translate }}
            </button>
            <button type="button" class="btn btn-primary" [disabled]="!deviceName.trim()" (click)="onConfirm()">
                {{ 'Status_Codes.Shared.Confirm' | translate }}
            </button>
        </div>
    </div>
</div>