<div class="creation-wrapper">
    <div class="creation-hub">
        <div class="post-section">
            <div class="icon post-icon">
                <svg lucideNotebookPen></svg>
            </div>
            <h3>
                <span>{{ 'Content.Creation_Hub.Post_Section_Title_1' | translate }}</span>
                <span>{{ 'Content.Creation_Hub.Post_Section_Title_2' | translate }}</span>
            </h3>
        </div>
        <div class="problem-section">
            <div class="icon problem-icon">
                <svg lucideSparkle></svg>
            </div>
            <h3>
                <span>{{ 'Content.Creation_Hub.Problem_Section_Title_1' | translate }}</span>
                <span>{{ 'Content.Creation_Hub.Problem_Section_Title_2' | translate }}</span>
            </h3>
        </div>
        <div class="project-section">
            <div class="icon project-icon">
                <svg lucideRocket></svg>
            </div>
            <h3>
                <span>{{ 'Content.Creation_Hub.Project_Section_Title_1' | translate }}</span>
                <span>{{ 'Content.Creation_Hub.Project_Section_Title_2' | translate }}</span>
            </h3>
        </div>
    </div>
</div>