<div class="change-email-wrapper">
    <div class="title-section">
        <h1>{{ 'Identity.Security_Settings.Security_Settings_Page.RecoveryEmail.Title' | translate }}</h1>
    </div>
    
    <form [formGroup]="form" class="change-email-form" autocomplete="off" (ngSubmit)="onSubmit()">
        <h2>{{ 'Identity.Security_Settings.Security_Settings_Page.RecoveryEmail.Subtitle' | translate }}</h2>

        <div class="form-group">
            <input id="newRecoveryEmail" autocomplete="email" autocapitalize="off" autocorrect="off" spellcheck="false"
                formControlName="email" type="email" />
            <label for="newRecoveryEmail">{{ 'Identity.Security_Settings.Security_Settings_Page.RecoveryEmail.New_Email' | translate }}</label>
        </div>

        @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
        <div class="validation-message">
            <span class="error-text">{{ 'Shared.Errors.Email_Required' | translate }}</span>
        </div>
        } @else if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
        <div class="validation-message">
            <span class="error-text">{{ 'Shared.Errors.Email_Invalid' | translate }}</span>
        </div>
        }

        <div class="buttons-group">
            <button type="button" class="cancel-button" [routerLink]="['/account-settings/security-settings']">
                {{ 'Identity.Security_Settings.Security_Settings_Page.Actions.Cancel' | translate }}
            </button>
            <button type="submit" [disabled]="form.invalid" class="submit-btn" id="changeRecoveryEmailBtn">
                <span>{{ 'Identity.Security_Settings.Security_Settings_Page.Actions.Verify' | translate }}</span>
                <svg lucideCheckLine></svg>
            </button>
        </div>
    </form>
</div>
