<div class="project-container">
    <div class="project-info-container">
        <div class="project-body">
            <div class="project-body-section project-header">
                <div class="title-group">
                    <h2 class="project-title"> {{ project.title }} </h2>
                    <p class="project-description"> {{ project.shortDescription }} </p>
                </div>
                <p [class]="'project-status-'+ project.status" class="project-status">
                    {{ ('Project.Status.' + project.status) | translate }}
                </p>
            </div>

            <div class="project-body-section project-metrics">
                <p [class]="'project-type-'+ project.type" class="project-type"> 
                    {{ ('Project.Type.' + project.type) | translate }} 
                </p>
                <div class="project-collaborators-count">
                    <svg lucideSave></svg>
                    <span>{{ project.savesCount }}</span>
                </div>
                <div class="project-rate">
                    <svg lucideStar></svg>
                    <span>{{ project.rate }} <small>({{ project.totalRates }})</small></span>
                </div>
            </div>

            <div class="project-body-section collaburators-section">
                <h3 class="collaburators-title">{{'Project.Collaburators' | translate}}</h3>
                <div class="collaburators-container">
                    @for (collaburator of project.topThreeContributors; track $index) {
                    <div class="collaburator" [title]="collaburator.fullName">
                        <img [src]="collaburator.profilePictureUrl" [alt]="collaburator.fullName">
                    </div>
                    }
                    @if (project.contributorsCount > 3) {
                    <div class="more-collaborators">
                        <span>+{{ project.contributorsCount - 3 }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="project-body-section tech-stack">
                <h3 class="tech-stack-title">{{'Project.Tech_Stack' | translate}}</h3>
                <div class="tech-stack-container">
                    @for (skill of project.topThreeSkills; track $index) {
                    <div class="tech-stack-item">
                        <span>{{ skill }}</span>
                    </div>
                    }
                    @if (project.skillsCount > 3) {
                    <div class="more-skills">
                        <span>+{{ project.skillsCount - 3 }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="project-body-section project-actions">
                @if(project.gitHubUrl){
                <a [href]="project.gitHubUrl" target="_blank" class="project-action-button github">
                    <div class="icon-holder">
                        <app-github-icon></app-github-icon>
                    </div>
                    <span>{{'Project.Github' | translate}}</span>
                </a>
                }
                @if(project.liveUrl){
                <a [href]="project.liveUrl" target="_blank" class="project-action-button live">
                    <svg lucideGlobe></svg>
                    <span>{{'Project.View_Live' | translate}}</span>
                </a>
                }
                <a [routerLink]="['/projects', project.id]" class="project-action-button view">
                    <svg lucideExternalLink></svg>
                    <span>{{'Project.View_Project' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>