<nav class="d-nav">
    <div class="brand">
        <h1 class="logo">SyrianDevs</h1>
    </div>
    <div class="nav-links">
        <a [routerLink]="['/app/feed']" routerLinkActive="active" class="nav-link">
            <svg lucideHouse></svg>
            <span>{{ 'App.Layout.Home' | translate }}</span>
        </a>
        <a [routerLink]="['/app/search']" routerLinkActive="active" class="nav-link">
            <svg lucideSearch></svg>
            <span>{{ 'App.Layout.Search' | translate }}</span>
        </a>
        <a [routerLink]="['/app/qa']" routerLinkActive="active" class="nav-link">
            <svg lucideMessageSquareCode></svg>
            <span>{{ 'App.Layout.Forum' | translate }}</span>
        </a>
        <a [routerLink]="['/app/projects']" routerLinkActive="active" class="nav-link">
            <svg lucideFolderKanban></svg>
            <span>{{ 'App.Layout.Projects' | translate }}</span>
        </a>
    </div>
    <div class="user-profile">

    </div>
</nav>

<nav class="m-nav">
    <div class="nav-links">
        <a [routerLink]="['/app/feed']" routerLinkActive="active" class="nav-link">
            <svg lucideHouse></svg>
            <span>{{ 'App.Layout.Home' | translate }}</span>
        </a>
        <a [routerLink]="['/app/search']" routerLinkActive="active" class="nav-link">
            <svg lucideSearch></svg>
            <span>{{ 'App.Layout.Search' | translate }}</span>
        </a>
        <a [routerLink]="['/app/qa']" routerLinkActive="active" class="nav-link">
            <svg lucideMessageSquareCode></svg>
            <span>{{ 'App.Layout.Forum' | translate }}</span>
        </a>
        <a [routerLink]="['/app/projects']" routerLinkActive="active" class="nav-link">
            <svg lucideFolderKanban></svg>
            <span>{{ 'App.Layout.Projects' | translate }}</span>
        </a>
        @if(isAuthenticated()){
        <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link">
            <svg lucideSquareUser></svg>
            <span>{{ 'App.Layout.Profile' | translate }}</span>
        </a>
        }
    </div>
</nav>