<div class="server-error-wrapper">
    <img [src]="'assets/images/server-error-' + (currentTheme() === 'dark' ? 'dark' : 'light') + '-theme.png'"
        [alt]="'Responses.Server_Error.Image_Alt' | translate" class="error-image" />

    <h1 class="error-title">
        {{ 'Responses.Server_Error.Title' | translate }}
    </h1>

    <p class="error-desc">
        {{ 'Responses.Server_Error.Message' | translate }}
    </p>

    <a routerLink="/" class="back-home-btn">
        {{ 'Shared.Actions.Back_To_Home' | translate }}
        <svg lucideHome class="icon"></svg>
    </a>
</div>