<div class="verify-email-wrapper">
    <div class="title-section">
        <h1>{{ 'Identity.Security_Settings.Personal_Info.Change_Email.Verify_Title' | translate }}</h1>
    </div>
    <form [formGroup]="otpForm" class="verify-email-form" autocomplete="off" (ngSubmit)="onSubmit()">
        <h2>{{ 'Identity.Security_Settings.Personal_Info.Change_Email.Verify_Description' | translate }}</h2>

        <div class="form-group code-group">
            <div class="code-inputs" formArrayName="code">
                @for (control of codeControls.controls; track $index) {
                <input type="text" [formControlName]="$index" maxlength="1" inputmode="numeric" pattern="[0-9]*"
                    (input)="onInput($event, $index)" (keydown)="onKeyDown($event, $index)" (focus)="onFocus($event)"
                    (paste)="onPaste($event)" #codeInput>
                }
            </div>
            <div *ngIf="otpForm.invalid && (otpForm.touched || otpForm.dirty)" class="error-message">
                <span>{{ 'Shared.Errors.Invalid_Code' | translate }}</span>
            </div>
        </div>

        <div class="buttons-group">
            <button type="button" class="cancel-button" [routerLink]="['/account-settings/personal-information']">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Cancel' | translate }}
            </button>
            <button type="submit" [disabled]="otpForm.invalid" class="submit-btn" id="verifyEmailBtn">
                <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Email.Verify' | translate }}</span>
                <svg lucideCheckLine></svg>
            </button>
        </div>

        <div class="resend-container">
            <p class="resend-text">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Not_Your_Email' | translate }}
                <a [routerLink]="['/account-settings/personal-information/change-email']" class="resend-link">
                    {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Change_It' | translate }}
                </a>
            </p>
        </div>

        <div class="resend-container">
            <p class="resend-text">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Did_Not_Receive' | translate }}
                @if (!canResend()) {
                <span class="cooldown-timer">({{ resendCooldown() }}s)</span>
                } @else {
                <a (click)="resendCode()" class="resend-link">
                    {{ 'Identity.Security_Settings.Personal_Info.Change_Email.Resend' | translate }}
                </a>
                }
            </p>
        </div>
    </form>
</div>