<div class="change-language-wrapper">
    <div class="title-section">
        <h1>{{'Identity.Security_Settings.Personal_Info.Preferred_Language' | translate }}</h1>
    </div>
    <form [formGroup]="form" class="change-language-form" (ngSubmit)="onSubmit()">
        <h2>{{'Identity.Security_Settings.Personal_Info.Language.Change_Language_DESC' | translate }}</h2>
        <div class="form-group">
            <select id="preferredLanguage" formControlName="preferredLanguage" class="custom-select">
                <option [value]="supportedLanguage.Arabic">العربية</option>
                <option [value]="supportedLanguage.English">English</option>
            </select>
        </div>

        <div class="buttons-group">
            <button class="cancel-button" [routerLink]="['/account-settings/personal-information']" type="button">
                {{ 'Identity.Security_Settings.Personal_Info.Change_Username.Back' | translate }}
            </button>
            <button type="submit" [disabled]="!hasChanged || isSubmitting()" class="submit-btn">
                <span>{{ 'Identity.Security_Settings.Personal_Info.Change_Username.Apply' | translate }}</span>
                <svg lucideCheckLine></svg>
            </button>
        </div>
    </form>
</div>