<canvas #particleCanvas class="bg-canvas"></canvas>

<div class="auth-nav">
    <div class="brand-area">
        <div class="logo">
            <img src="../../../../assets/icons/github.svg" alt="">
        </div>
        <h2>SyrianDevs</h2>
    </div>
    @if (isLoading()) {
    <div class="loading-wrapper">
        <app-line-loader class="loader" [width]="'100%'"></app-line-loader>
    </div>
    }
</div>

<div class="identity-wrapper">
    <div class="form-container">
        <router-outlet class="router-outlet"></router-outlet>
    </div>
</div>