<canvas #particleCanvas class="bg-canvas"></canvas>

<div class="auth-nav">
    <a routerLink="/" class="brand-area">
        <div class="logo">
            <img src="../../../../assets/icons/github.svg" alt="Logo">
        </div>
        <h2 class="site-name">{{ 'App.Site_Name' | translate }}</h2>
    </a>
    <div class="links">
        <div (click)="logout()" class="link">
            Logout
        </div>
    </div>
</div>

<div class="identity-wrapper">
    <div class="form-container">
        <router-outlet class="router-outlet"></router-outlet>
    </div>
</div>