.auth-nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: var(--mini-nav-height);
    padding: 0.5rem clamp(5px, 1rem, 15px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    z-index: var(--nav-z-index);
    justify-content: space-between;
    background-color: var(--secondary-bg);
}

.hide-on-loading{
    display: none;
}

.loading-wrapper {
    width: 100%;
    height: calc(100% - var(--mini-nav-height));
    position: fixed;
    top: var(--mini-nav-height);
    right: 0;
    background-color: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur) - 2);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10000;
}

.loader-c {
    width: 100%;
}

.auth-nav .brand-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.auth-nav .brand-area:hover {
    cursor: pointer;
}

.auth-nav .brand-area .logo {
    width: 40px;
    height: 40px;
}

.auth-nav .brand-area h2 {
    font-size: var(--header-3);
    font-weight: 800;
    letter-spacing: -0.5px;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-light));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: var(--transition-base);
}

.auth-nav .options .option svg {
    color: var(--primary-dark);
    width: clamp(25px, 1vw, 30px);
    height: clamp(25px, 1vw, 30px);
}


.settings-wrapper {
    width: 100%;
    min-height: 100%;
    padding-top: var(--mini-nav-height);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    gap: 1rem;
}

.account-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.account-section .picture-wrapper {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.account-section .picture-wrapper img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.account-loader {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-skeleton-loader {
    width: auto;
    height: 100% !important;
}

.sidebar-menu .title {
    font-size: var(--header-3);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.5px;
    color: var(--primary-color);
}


.sidebar-menu .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sidebar-menu .links .link-group {
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-menu .links .link-group .link:first-child {
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.sidebar-menu .links .link-group .link:last-child {
    border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
}

.sidebar-menu .links .link-group .link:only-child {
    border-radius: var(--border-radius-xl);
}


.sidebar-menu .links .link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--secondary-bg);
    font-size: var(--text-base);
}

.sidebar-menu .links .link:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
}

.sidebar-menu .links .link .link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.sidebar-menu .links .link .link-icon svg {
    font-size: 35px;
    width: 35px;
    padding: 3px;
    height: 35px;
}

.home-link .link-icon {
    background-color: #d9bafd;
}

.home-link .link-icon svg {
    stroke: #5629a4;
}

.personal-info-link .link-icon {
    background-color: #6dd58c;
}

.personal-info-link .link-icon svg {
    stroke: #0f5223;
}

.security-settings-link .link-icon,
.sessions-link .link-icon,
.password-link .link-icon {
    background-color: #7fcfff;
}

.security-settings-link .link-icon svg,
.sessions-link .link-icon svg,
.password-link .link-icon svg {
    stroke: #004a77;
}

.acrhive-link .link-icon {
    background-color: #ffb683;
}

.acrhive-link .link-icon svg {
    stroke: #753403;
}

.main-container {
    height: 100%;
}

.layout-wrapper {
    width: 100%;
    height: calc(100vh - var(--mini-nav-height));
}



.loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide-on-mobile {
    display: none;
}

.home-content {
    display: none;
}

@media (min-width: 768px) {
    .settings-wrapper {
        flex-direction: row;
        padding: var(--mini-nav-height) 0.5rem;
        gap: 2rem;
        background-color: transparent;
    }

    .sidebar-menu {
        width: var(--sidebar-width);
        flex-shrink: 0;
    }

    .sidebar-menu .links .link {
        background-color: transparent;
        box-shadow: none;
    }

    .sidebar-menu .links .link:hover {
        background-color: var(--secondary-bg);
    }

    .sidebar-menu .links .link.active-link {
        background-color: var(--secondary-bg);
        color: var(--primary-color);
    }

    .layout-wrapper {
        width: calc(100% - var(--sidebar-width) - 2rem);
        padding: 0 10px;
    }

    .main-container {
        flex-grow: 1;
        background-color: var(--primary-bg);
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .hide-on-mobile {
        display: block !important;
    }

    .sidebar-menu.hide-on-mobile {
        display: flex !important;
    }

    .link {
        border-radius: var(--border-radius-xl) !important;
    }

    .home-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .home-content .account-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .home-content .account-info .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .home-content .account-info .info h1 {
        font-size: var(--header-2);
        font-weight: var(--font-weight-bold);
        letter-spacing: -0.5px;
    }

    .home-content .account-info .info p {
        font-size: var(--text-base);
    }

    .home-content .search-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-content .search-bar input {
        width: 100%;
        max-width: 550px;
        height: 60px;
        padding: 10px 2.5rem;
        font-size: var(--text-base);
        color: var(--text-muted);
        border-radius: var(--border-radius-md);
        border: none;
        outline: none;
    }

    .home-content .search-bar input::placeholder {
        font-size: var(--text-base);
        color: var(--text-muted);
    }

    .account-info .picture-wrapper {
        width: 200px;
        height: 200px;
        border: 1px solid var(--primary-color);
        overflow: hidden;
        border-radius: 50%;
    }

    .account-info .picture-wrapper img {
        width: 100%;
        height: 100%;
    }

    .sidebar-menu .account-section {
        display: none;
    }

    .link-group {
        gap: 0.75rem;
    }

    .links {
        gap: 0.75rem;
    }
}

.router-container {
    width: 100%;
    height: 100%;
    padding-top: var(--mini-nav-height);
}