<div class="auth-nav">
    <div [routerLink]="['/']" class="brand-area">
        <div class="logo">
            <img src="../../../../assets/icons/github.svg" alt="">
        </div>
        <h2>SyrianDevs</h2>
    </div>
</div>
@if (isLoadingSettings()) {
<div class="loading-wrapper">
    <app-linear-loader class="loader-c" [width]="'100%'"></app-linear-loader>
</div>
}
@if (isRootRoute()) {
<div class="settings-wrapper">
    <aside class="sidebar-menu" [class.hide-on-mobile]="!isRootRoute()">
        @if (userResource.value()) {
        <div class="account-section" [class.hide-on-loading]="userResource.isLoading()">
            <div class="picture-wrapper">
                <img [src]="userResource.value()!.profilePictureUrl" [alt]="userResource.value()!.userName">
            </div>
            <div class="info-wrapper">
                <h2>
                    {{userResource.value()!.userName}}
                </h2>
                <p>
                    {{userResource.value()!.email}}
                </p>
            </div>
        </div>
        }
        @else if (isLoadingSettings()) {
        <div class="account-loader">
            <app-skeleton-loader></app-skeleton-loader>
        </div>
        }

        <div class="title">
            {{ 'App.Layout.Settings.Title' | translate }}
        </div>
        <div class="links">
            <div class="link-group">
                <div class="link home-link">
                    <div class="link-icon"><svg lucideHouse></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Home' | translate }}</p>
                </div>
            </div>
            <div class="link-group">
                <div [routerLinkActive]="['active-link']" [routerLink]="['/account-settings/personal-information']"
                    class="link personal-info-link">
                    <div class="link-icon"><svg lucideIdCard></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Personal_Info' | translate }}</p>
                </div>
            </div>
            <div class="link-group">
                <div class="link security-settings-link">
                    <div class="link-icon"><svg lucideFingerprintPattern></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Security_Settings' | translate }}</p>
                </div>
                <div class="link sessions-link">
                    <div class="link-icon"><svg lucideShieldPlus></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Sessions' | translate }}</p>
                </div>
                <div class="link password-link">
                    <div class="link-icon"><svg lucideKeyRound></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Password_Management' | translate }}</p>
                </div>
            </div>
            <div class="link-group">
                <div class="link acrhive-link">
                    <div class="link-icon"><svg lucideArchive></svg></div>
                    <p class="link-title">{{ 'App.Layout.Settings.Archive' | translate }}</p>
                </div>
            </div>



        </div>

    </aside>

    <div class="layout-wrapper">
        <main class="main-container">
            <div class="home-content">
                <div class="account-info">
                    <div class="picture-wrapper">
                        <img [src]="userResource.value()!.profilePictureUrl" [alt]="userResource.value()!.userName">
                    </div>
                    <div class="info">
                        <h1>{{userResource.value()!.userName}}</h1>
                        <p>{{userResource.value()!.email}}</p>
                    </div>
                </div>
                <div class="search-bar">
                    <input type="search" name="searchTerm" id=""
                        [placeholder]="`${'App.Layout.Settings.Search' | translate}`"
                        (input)="searchQuery.set($event.target.value)">
                </div>

                @if (searchQuery()) {
                <div class="search-result-container">
                    @for (result of filteredSettings(); track $index) {
                    <div class="result-item">
                        <div class="icon-container">
                            <app-dynamic-icon [name]="result.icon" [width]="'100%'"
                                [height]="'100%'"></app-dynamic-icon>
                        </div>
                        <div class="result-body">
                            <h2>{{ result.title | translate }}</h2>
                            <p>{{ result.accessGuide | translate }}</p>
                        </div>
                    </div>
                    }
                </div>
                }

            </div>
        </main>
    </div>
</div>
}


@if (!isRootRoute()) {
<div class="router-container">
    <router-outlet></router-outlet>
</div>
}