<nav class="bottom-navbar">
    <div class="nav-items-container">
        @for (item of navItems; track item.path) {
        <a [routerLink]="item.path" [routerLinkActiveOptions]="{exact: item.exact}" routerLinkActive="active"
            class="nav-item">
            <div class="indicator-bg"></div>
            <div class="icon-wrapper">
                <ng-container [ngSwitch]="item.icon">
                    <svg *ngSwitchCase="'home'" lucideHome></svg>
                    <svg *ngSwitchCase="'search'" lucideSearch></svg>
                    <svg *ngSwitchCase="'folder-git-2'" lucideFolderGit2></svg>
                    <svg *ngSwitchCase="'messages-square'" lucideMessagesSquare></svg>
                    <svg *ngSwitchCase="'user'" lucideUser></svg>
                </ng-container>
            </div>
            <span class="nav-label">{{ item.labelKey | translate }}</span>
        </a>
        }
    </div>
</nav>