<div class="assistance-card">
    <div class="header-section">
        <span class="material-symbols-outlined main-icon">account_circle_off</span>
        <h2>{{ 'Identity.Shared.Account_Assistance' | translate }}</h2>
        <p>Select an option below to help you get back into your account.</p>
    </div>

    <div class="options-list">
        <a [routerLink]="['/identity/account-recovery/security-code']" class="option-item">
            <div class="option-info">
                <span class="material-symbols-outlined icon">key</span>
                <div class="text-group">
                    <span class="title">{{ 'Identity.Shared.Reset_Password_Title' | translate }}</span>
                    <span class="subtitle">{{ 'Identity.Shared.Reset_Password_Subtitle' | translate }}</span>
                </div>
            </div>
            <span class="material-symbols-outlined arrow">chevron_right</span>
        </a>
        <a [routerLink]="['/identity/account-recovery/security-code']" class="option-item">
            <div class="option-info">
                <span class="material-symbols-outlined icon">key</span>
                <div class="text-group">
                    <span class="title">{{ 'Identity.Shared.Recover_Account_By_Security_Code_Title' | translate }}</span>
                    <span class="subtitle">{{ 'Identity.Shared.Recover_Account_By_Security_Code_Subtitle' | translate }}</span>
                </div>
            </div>
            <span class="material-symbols-outlined arrow">chevron_right</span>
        </a>

        <a [routerLink]="['/identity/account-recovery/change-method']" class="option-item">
            <div class="option-info">
                <span class="material-symbols-outlined icon">contact_mail</span>
                <div class="text-group">
                    <span class="title">{{ 'Identity.Shared.Update_Identifier_Title' | translate }}</span>
                    <span class="subtitle">{{ 'Identity.Shared.Update_Identifier_Subtitle' | translate }}</span>
                </div>
            </div>
            <span class="material-symbols-outlined arrow">chevron_right</span>
        </a>

        <a href="#" class="option-item support">
            <div class="option-info">
                <span class="material-symbols-outlined icon">support_agent</span>
                <div class="text-group">
                    <span class="title">{{ 'Identity.Shared.Contact_Support' | translate }}</span>
                    <span class="subtitle">{{ 'Identity.Shared.Contact_Support_Subtitle' | translate }}</span>
                </div>
            </div>
            <span class="material-symbols-outlined arrow">open_in_new</span>
        </a>
    </div>

    <div class="form-footer">
        <a [routerLink]="['/auth/login']" class="back-link">
            <span class="material-symbols-outlined">arrow_back</span>
            {{ 'Identity.Shared.Back_to_Login' | translate }}
        </a>
    </div>
</div>