.bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-color: var(--primary-bg);
    transition: background-color var(--transition-base);
    pointer-events: none;
}

.auth-nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: var(--mini-nav-height);
    padding: 0.5rem clamp(5px, 1rem, 15px);
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-nav .brand-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.auth-nav .brand-area .logo {
    width: 40px;
    height: 40px;
}

.auth-nav .brand-area h2 {
    font-size: var(--header-3);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

.auth-nav .options {
    display: flex;
    width: 50%;
    justify-content: end;
    gap: clamp(12px, 1.5rem, 15px);
}

.auth-nav .options a {
    text-decoration: none;
    color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: var(--font-weight-semibold);
}

.auth-nav .options .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-nav .options .option svg {
    color: var(--primary-dark);
    width: clamp(25px, 1vw, 30px);
    height: clamp(25px, 1vw, 30px);
}

.auth-nav a:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.identity-wrapper {
    width: 100%;
    padding-top: var(--mini-nav-height);
    padding-left: 10px;
    padding-right: 10px;
    min-height: calc(100vh - var(--mini-nav-height) - 3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 450px;
}